html {
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 350px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #181919;
  line-height: 35px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}
.container--centered {
  margin: auto;
}

.input-container {
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  line-height: 1.625;
  margin-bottom: 20px;
  border-bottom: 1px solid #181919;
}

.input {
  color: #4a5568;
  width: 100%;
  font-size: 20px;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
  margin-right: 2rem;
  line-height: 1.25;
}

.subheading {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.date {
  font-size: 30px;
  margin: 50px auto;
}
/*project list*/

.project-list {
  font-size: 20px;
  margin-left: 100px;
}

.project-list a {
  color: #181919;
  cursor: pointer;
}
.grey {
  color: dimgrey;
}
.list {
  font-size: 20px;
  margin: auto;
  padding: 0;
  max-width: 250px;
  margin-bottom: 30px;
}
.title--centered {
  text-align: center;
}
/*buttons*/
.button {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 0.5rem 1rem;
  border-width: 1px;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  line-height: 16px;
  background-color: #fff;
}
.button:hover {
  background-color: #f7fafc;
}
.advanced-counter__buttons {
  display: flex;
  flex-direction: row-reverse;
}
.advanced-counter__buttons-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 750px) {
  .advanced-counter__buttons {
    display: flex;
    flex-direction: row;
  }
  .advanced-counter__buttons-container {
    display: flex;
    flex-direction: row;
  }
}
.black-button {
  font-size: 0.875rem;
  color: #fff;
  padding: 0.75rem 1.5rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background-color: #181919;
  cursor: pointer;
  border: none;
}

.black-button:hover {
  background-color: #393432;
}
.todo-button {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 0.25rem 0.5rem;
  border-width: 1px;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  line-height: 16px;
  background-color: #fff;
}
.todo-button:hover {
  background-color: #f7fafc;
}

/*advanced counter*/
.advanced-counter__container {
  margin: 50px auto;
}
.advanced-counter__list {
  font-size: 20px;
  margin: auto;
  padding: 0;
  max-width: 250px;
}

/*to-do-list*/

.todo-list__list {
  padding-left: 5%;
  font-size: 20px;
  margin: 0 auto 50px;
}
.todo-list__list--shortened {
  padding-left: 20%;
  width: 270px;
}
.todo-list__container {
  margin: auto;
  max-width: 350px;
}
.todo-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 0.5rem 0.75rem;
}

/*timer to-do*/
.todo-list {
  padding-left: 0;
}
.todo-list__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0.5rem 0.75rem;
}
.todo-checkbox {
  margin-right: 10px;
  padding: 8px;
  height: 15px;
  width: 15px;
}

.todo-block__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.todo-block__element {
  display: flex;
  justify-content: space-between;
}
.todo-block__text {
  font-size: 16px;
  max-width: 250px;
}
.todo-list__container {
  margin: auto;
  width: 350px;
}

/*task*/
.task-wrap {
  width: 300px;
  display: flex;
  align-items: center;
}
.task__element {
  margin-right: 10px;
  font-size: 18px;
  line-height: 1.625;
}

/*github search*/

.results__container {
  display: flex;
  align-items: center;
  margin: auto;
  text-align: left;
  color: black;
  font-size: 18px;
  text-decoration: none;
}
.results__paragraph {
  margin: 0;
  padding-left: 10px;
}
.results__paragraph--underlined {
  text-decoration: #181919 underline;
}
/*counter*/
.counter-container {
  margin: 50px auto;
}

.counter-number {
  margin: 0 50px;
  font-size: 20px;
  text-align: center;
}
/*search*/
.search-container {
  width: 300px;
}
.user__container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  line-height: 16px;
  padding: 10px 0;
}
.user__img {
  border-radius: 25px;
}
.user__container a {
  font-size: 16px;
  color: rgb(65, 131, 196);
  text-decoration: none;
}
.user__last-updated {
  margin: 5px 0;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
}
.user__info {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
}
.search__list {
  padding-left: 0;
}

@media (min-width: 750px) {
  .container {
    width: 700px;
  }
  .counter-number {
    padding-top: 13px;
  }
  .todo-list__container {
    width: 500px;
  }
  .todo-block__text {
    max-width: 350px;
  }
  .todo-list__container {
    max-width: 500px;
  }
  .results__container {
    font-size: 22px;
  }
  .search-container {
    width: 500px;
  }
  .search__list {
    padding-left: 40px;
  }
}

/*age*/
.age-element {
  margin: 5px;
  display: flex;
}
.age-element__years {
  margin-right: 30px;
  background: #b5838d;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.age-element__months {
  margin-right: 30px;
  background: #6d6875;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.age-element__weeks {
  margin-right: 30px;
  background: #ffcdb2;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.age-element__days {
  margin-right: 30px;
  background: #ffb4a2;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.age-element__hours {
  margin-right: 30px;
  background: #e5989b;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.age-element__minutes {
  margin-right: 30px;
  background: #b5838d;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.age-element__seconds {
  margin-right: 30px;
  background: #6d6875;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.radial-chart {
  transition: all 0.3s ease-in;
}
.radial-chart.no-progress .radial-chart-progress {
  opacity: 0;
}
.radial-chart-total {
  opacity: 0.3;
}
.radial-chart-progress {
  transform: rotate(270deg);
  transform-origin: center;
  transition: all 0.6s cubic-bezier(0.58, 0.16, 0.5, 1.14);
  transition-delay: 0.3s;
}
.cicles {
  position: relative;
  margin: 50px;
}
.circle-1 {
  position: absolute;
  top: 238px;
  left: 75px;
}
.circle-2 {
  position: absolute;
  top: 222px;
  left: 60px;
}
.circle-3 {
  position: absolute;
  top: 176px;
  left: 15px;
}
.circle-4 {
  position: absolute;
  top: 127px;
  left: -30px;
}
.circle-5 {
  position: absolute;
  top: 81px;
  left: -60px;
}
.circle-6 {
  position: absolute;
  top: 36px;
  left: -90px;
}
.circle-7 {
  position: absolute;
  top: -17px;
  left: -132px;
}
